.myFooterText {
    font-family: Impact, Charcoal, sans-serif;
    color: #df691a
}

#landingImage {
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
    clip: rect(0px,60px,200px,0px);
}

.trumpet
{
    background: url(../Images/trumpet.jpg) no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     text-indent: -9999px; /* hides the link text */
}

.trombone
{
    background: url(../Images/trombone.jpg) no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     text-indent: -9999px; /* hides the link text */
}

.frenchhorn
{
    background: url(../Images/frenchhorn.jpg) no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     text-indent: -9999px; /* hides the link text */
}

.flute
{
    background: url(../Images/flute.jpg) no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     text-indent: -9999px; /* hides the link text */
}

.clarinet
{
    background: url(../Images/clarinet.jpg) no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     text-indent: -9999px; /* hides the link text */
}

.sax
{
    background: url(../Images/Sax.jpg) no-repeat top left;
     display: block;
     width: 150px;
     height: 150px;
     text-indent: -9999px; /* hides the link text */
}