
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("CategoryChosen", "Home", FormMethod.Get))
{
<fieldset>
    US States
    @Html.DropDownList("StateNames")
    <p>
        <input type="submit" value="Submit" />
    </p>
</fieldset>
} 