@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    

        <h1>About: <br /> Blow Out Rentals</h1>
    <h3>Mission Statement: To Bring Music to Your Ears!</h3>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <figure>
                <img src="~/Images/JackBlack.jpg" align="top" />
                <figcaption>Founder: Jack Black</figcaption>
            </figure>
        </div>
       
        <h2>In The Beginning</h2>
        <p>Visit any Blow Out Music Store at any time and you’re guaranteed to see somebody making music. After all, making music is what Jack Black is all about and 
        he means business. Playing the incredible selection of instruments is not only allowed, it’s encouraged. You’ll find people of all ages, from novice to 
        pros playing trumpets, saxaphones, and other instruments. The huge inventory of musical instruments and accessories, sound and recording 
        equipment, sheet music and videos, computers and music software covers every musician’s needs no matter what his or her playing style or ability may be.</p>
        <p>Blow Out is known as “The World’s Favorite Music Store,” but they didn’t arrive at that title overnight. The Blow Out saga is a classic business story. It 
        encompasses the American dream, retaining the basic concepts of a family-run business even today. From very simple beginnings the company has grown to forty-five 
        music superstores. But the story begins in Brooklyn.</p>
        <p>In 1924 Calvin Coolidge was president of the United States, George Gerswin premiered his “Rhapsody In Blue,” Johnny Weissmuller brought home Olympic gold and 
        in a small neighborhood in Brooklyn, New York, Sam Ash opened his first music store.</p>
        <p>Jack Black was born in Austria and traveled to the United States in 1907 at the age of 10, the same year that his future bride, Rose Dinin, left her 
        native Russia at the age of 3 to settle in Brooklyn. Jack, a violinist, set out to make a career in music. After playing with various groups Jack decided to strike 
        out with a band of his own. Jack's band would entertain at weddings and dances playing the popular music of the time. After Jack and Rose were married, 
        the new Mrs. Black decided that a musician’s life was too precarious so the young couple decided to open their own business based upon what Jack knew best – music. 
        Having very little savings the couple was forced to pawn Rose’s engagement ring for $400 in order to make the down payment on what was to become the first Blow Out 
        Music store.</p>
        <p>Well, needless to say, the rest is history!  Come in and see us today!</p>
    </div>
</div>
