@{
    ViewBag.Title = "Blow Out!";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <img id="landingImage" src="~/Images/instruments.jpg" />
        </div>
    </div>


    <div class="jumbotron row">
        <h1>BlowOut Instrument Rentals</h1>
        <p class="lead">Welcome to our online rental store where you can rent new and used instruments</p>
        <p><a href="@Url.Action("Rentals", "Home", new { Description = "all" })" class="btn btn-primary btn-lg">Rent Now! &raquo;</a></p>

    </div>


    <div class="row">
        <div class="col-md-12">
            <blockquote>
                <p>"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself."</p>
                <footer>- Johann Sebastian Bach</footer>
            </blockquote>

        </div>
    </div>
</div>